<div class="container">
    <h1>Choose Good Food</h1>
    <div class="input">
        <label>E-mail</label>
        <input appInput type="email" #email>
    </div>
    <div class="input">
        <label>Hasło</label>
        <input appInput type="password" #password>
    </div>
    <div class="btn-box">
        <button appButton (click)="onLogin(email.value, password.value)">Zaloguj się</button>
        <button appButton (click)="onRegister(email.value, password.value)">Zarejestruj się</button>
    </div>
</div>