<div class="container">
    <div class="compare-box">
      <h2 class="dish-name">{{ restaurantDish.name }}</h2>
      <h2 class="dish-name">{{ homeDish.name }}</h2>
    </div>
    <p>Składniki</p>
    <div class="compare-box">
      <ul>
        <li *ngFor="let ingredient of restaurantDish.ingredients">
          {{ ingredient.name +': '+ ingredient.portion }}
        </li>
      </ul>
      <ul>
        <li *ngFor="let ingredient of homeDish.ingredients">
          {{ ingredient.name +': '+ ingredient.portion }}
        </li>
      </ul>
    </div>
    <p>Cena dania</p>
    <div class="compare-box">
      <p>{{ restaurantDish.price }} zł</p>
      <p>
        {{ homeDish.price }} zł 
        <span [style]="{backgroundColor: compareValues.priceCompare >= 0 ? 'lightgreen' : '#ff9999'}">
          {{ compareValues.priceCompare < 0 ? '+' : '-' }} 
          {{ math.abs(compareValues.priceCompare.toFixed(4)*100) }}%
        </span>
      </p>
    </div>
    <p>Wartość kaloryczna</p>
    <div class="compare-box">
      <p>{{ restaurantDish.calories }} kcal</p>
      <p>
        {{ homeDish.calories }} kcal
        <span [style]="{backgroundColor: compareValues.caloriesCompare >= 0 ? 'lightgreen' : '#ff9999'}">
          {{ compareValues.caloriesCompare < 0 ? '+' : '-' }} 
          {{ math.abs(compareValues.caloriesCompare.toFixed(4)*100) }}%
        </span>
      </p>
    </div>
    <p>Indeks glikemiczny</p>
    <div class="compare-box">
      <p>{{ restaurantDish.glycemicIndex }}</p>
      <p>
        {{ homeDish.glycemicIndex }}
        <span [style]="{backgroundColor: compareValues.glycemicIndexCompare >= 0 ? 'lightgreen' : '#ff9999'}">
          {{ compareValues.glycemicIndexCompare < 0 ? '+' : '-' }} 
          {{ math.abs(compareValues.glycemicIndexCompare.toFixed(4)*100) }}%
        </span>
      </p>
    </div>
</div>