<div>
    <div class="compare-box">
      <h2 class="dish-name">{{ restaurantDish.name }}</h2>
      <h2 class="dish-name">{{ homeDish.name }}</h2>
    </div>
    <p>Składniki</p>
    <!-- tu będą listy składników -->
    <p>Cena dania</p>
    <div class="compare-box">
      <p>{{ restaurantDish.price }} zł</p>
      <p>{{ homeDish.price }} zł</p>
    </div>
    <p>Wartość kaloryczna</p>
    <div class="compare-box">
      <p>{{ restaurantDish.calories }} kcal</p>
      <p>{{ homeDish.calories }} kcal</p>
    </div>
    <p>Indeks glikemiczny</p>
    <div class="compare-box">
      <p>{{ restaurantDish.glycemicIndex }}</p>
      <p>{{ homeDish.glycemicIndex }}</p>
    </div>
  </div>