<div class="container">
    <div class="search-bar-row">
      <div class="button">
        <button appButton (click)="onLogOut()">Wyloguj się</button>
      </div>
      <div class="button">
        <button appButton>Ulubione</button>
      </div>
      <input appInput class="search-bar" placeholder="Szukaj..."/>
      <div class="button">
        <button appButton mode="dark" (click)="sort()">Sortuj</button>
      </div>
      <div class="button">
        <button appButton mode="dark" (click)="filter()">Filtruj</button>
      </div>
    </div>
    <div *ngFor="let dish of restaurantDishes$ | async; let i = index">
      <app-dish-card [restaurantDish]="dish"></app-dish-card>
    </div>
</div>