<div class="container">
    <div class="search-bar-row">
      <div class="button">
        <button appButton (click)="onLogOut()">Wyloguj się</button>
      </div>
      <div class="button">
        <button appButton (click)="onFavoritesList()">
          {{
            listType === 'full' ? 'Ulubione' : 'Wszystkie'
          }}
        </button>
      </div>
      <input 
        appInput 
        class="search-bar"
        placeholder="Szukaj..."
        [(ngModel)]="searchPhrase"
        (ngModelChange)="onInputChange()"
      />
      <div class="button">
        <button appButton mode="dark" (click)="onSort()">Sortuj</button>
      </div>
      <div class="button">
        <button appButton mode="dark" (click)="onFilter()">Filtruj</button>
      </div>
    </div>
    <p *ngIf="dishes.length === 0" class="emptyListMsg">
      Lista dań jest pusta.
    </p>
    <div *ngFor="let dish of dishes; let i = index">
      <app-dish-card [restaurantDish]="dish"></app-dish-card>
    </div>
</div>