.search-bar-row {
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  padding: 8px;
}

.button {
  margin-left: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: 'Inter';
}

.emptyListMsg {
  color: purple;
  text-align: center;
}